/* tablet and mobi */
@media (max-width:1023px) {
    /* .main {
        overflow: hidden;
    } */
    .col-mc-4 {
        flex: 0 0 33.333333%;
        padding: 8px;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        height: 800px;
    }
    .nav-list.open-flex {
        display: flex;
    }
    .nav-link {
        color: #000;
    }
    .modal-menu .navbar {
        flex-direction: column;
        align-items: start;
        gap: 60px;
    }
    .modal-menu .logo {
        height: 100px;
    }
   
    .modal-menu .nav-list {
        width: 100%;
    }
    .modal-menu .nav-item {
        height: 80px;
        position: relative;
    }
    .modal-menu .nav-link {
        font-size: 2.8rem;
        font-weight: 600;
    }
    .modal-menu .menu-lay {
        height: unset;
    }
    .modal-menu .content {
        max-width: calc(100% - 12px);
    }
    .modal-menu .menu-list  {
        overflow: hidden;
    flex-wrap: wrap;
    padding: 50px 0;
    }
    .modal-menu .menu-desc {
        font-size: 2rem;
    }
    .modal-menu .menu-food-link{
        font-size: 1.5rem;   
    }
    .modal-menu .menu-title {
        font-size: 2.4rem;
    }
    .modal-menu .menu-lay-2 {
        padding: 0;
    }
    
 
    .down.content, .slide.content, .thumb .content {
        max-width: 100%;
    }
    .slide-left {
        width:50%;
        height: unset;
    }
    .slide-content, .slide-right {
        gap: 6px;
    }
    .slide-history {
        height: unset;
        flex: 1 0 calc(50% - 3px);
    }
    .down {
        padding: 16px 0;
    }
    .thumb {
        margin: 16px 0;
    }
    
    
}
/* mobi */
@media (max-width:739px) {
    header {
        height: 60px;
    }
    .logo {
        height: 60px;
    }
    .head-location {
        height: 40px;
    }
    .img-loca {
        width: 30px;
        margin: 0 12px 0 0;
    }
    .desc-top, .desc-bot {
        font-size: 1.35rem;
    }
    .menu-repon {
        display: block;
        width: 45px;
        height: 45px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-left: 10px;
    }
    .logo {
        margin: 0;
    }
    header .content {
        max-width: calc(100% - 16px);
    }
    .mr-a {
        margin-left: 8px;
    }
    .down {
        padding: 8px 0;
    }
    .slide-history .desc {
        line-height: 1rem;
        font-size: 0.85rem;
        bottom: 0px;
        left: 4px;
        font-weight: 700;
    }
    .slide-left .desc {
        font-weight: 600;
        bottom: 0;
        left: 2px;
        font-size: 3rem;
    }
    .thumb {
        background-position: -905px;
    }
    .baner-desc {
        display: none;
    }
    .thumb-baner {
        width: 100%;
        gap: 110px;
    }
    .baner-tile {
        opacity: 0.6;
    }
    .footer .content {
        max-width: calc(100% - 12px);
    }
    .foot-top {
        flex-direction: column;
    }
    .foot-feedback {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .foot-email {
        width: 100%;
    }
    .foot-feedback p {
        text-align: center;
    }
    .foot-feedback .btn {
        max-width: unset;
        min-width: 210px;
    }
    .control input {
        width: 80%;
    }
    
    .col-m-6 {
        flex: 0 0 50%;
        padding:0 4px;
    }
    
    .foot-bot {
        margin:0 -4px;
    }
    .copy-desc {
        text-align: center;
    }
}
/* tablet */
@media (min-width:740px) and (max-width:1023px) {
    .menu-repon {
        display: block;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-left: 20px;
    }
    .navbar {
        height: 90px;
    }
    header {
        height: 90px;
    }
    .logo {
        height: 80px;
    }
   
}
